<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="assets/main.css">
</head> -->

<link rel="stylesheet" href="/code-of-conduct/assets/main.css"><link type="application/atom+xml" rel="alternate" href="http://localhost:4000/code-of-conduct/feed.xml" title="Your awesome title" /></head>


<body>
    <h1>This is the header</h1>
    {{content}}
    <h1>This is the footer</h1>
</body>
</html>